header {
  width: 100vw;
  height: 120px;
  background-color: black;
}

header div {
  height: 60px;
  width: 100%;
}
header div:first-child {
  background-color: antiquewhite;
}
header div:nth-child(2) {
  background-color: rgb(243, 153, 203);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main google-box {
  flex-grow: 1;
  display: flex;
}
